body{
    background-color: #7a7a7a;
    display: flex;
    flex-direction: column;
}

h1 a{
    text-decoration: none;
    color: black;
}

.active{
    background-color: #949090;
    border-radius: 25px;
}

nav{
    background-color: white;
    height: 75px;
    margin: 15px;
    border-radius: 25px;
    display: flex;
    align-items: center;
}

nav img{
    height: 60px;
    padding: 10px;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    flex-grow: 1;
    font-size: 20px;
    align-self: center;
    padding-left: 10px;
    padding-right: 10px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    padding: 3px 6px;
}

.dropbtn {
    background-color: transparent;
    color: black;
    padding: 3px 6px;
    font-size: 20px;
    border: none;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
border-radius: 10px;
background-color: #ffffffee;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
border-radius: 10px;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: #c9c9c9;}

.dropdown:hover .dropdown-content {display: block;}

main{
    background-color: white;
    margin: 15px;
    border-radius: 25px;
    align-items: center;
    padding: 25px;
}

.productos-destacados{
    margin-top: 25px;
    border-radius: 25px;
    box-shadow: -1px -1px 3px 1px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: start;
    position: relative;
    overflow: auto;
}

.miniatura-producto{
    border-radius: 25px;
    box-shadow: -1px -1px 3px 1px rgba(0, 0, 0, 0.3);
    margin: 15px;
}

.miniatura-producto img{
    box-sizing: content-box;
    padding: 15px;
    max-height: 40vh;
}

.miniatura-producto h1{
    text-align: center;
}

.banners img{
    box-sizing: content-box;
    width: 100%;
    border-radius: 25px;
    box-shadow: -1px -1px 3px 1px rgba(0, 0, 0, 0.3);
}

.productos-hogar{
    margin-top: 25px;
    border-radius: 25px;
    box-shadow: -1px -1px 3px 1px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-evenly;
    position: relative;
    flex-wrap: wrap;
}
footer{
    background-color: white;
    margin: 15px;
    border-radius: 25px;
    align-items: center;
    padding: 25px;
}

footer p{
    text-align: center;
}

.contacto {
    display: block;
}

.contacto div{
    margin: 30px;
}

label, input, textarea{
    display: block;
    width: 500px;
    margin: 3px;
    padding: 10px;
    border-radius: 25px;
}

.finalizar-form{
    display: flex;
    justify-content: center;
}

.finalizar-form input{
    width: 250px;
    margin: 5px;
}