<div class="container" style="margin: 100px auto">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Editar</h4>
            <form action="/admin/preguntas/editar" method="post">
                <input type="hidden" value="{{pregunta.id}}" name="id">
                <div class="mb-3 row">
                    <p>Pregunta</p>
                    <input class="form-control" placeholder="Pregunta" name="pregunta" value="{{pregunta.pregunta}}"/>
                </div>
                <div class="mb-3 row">
                    <p>Respuesta</p>
                    <input class="form-control" placeholder="Respuesta" name="respuesta" value="{{pregunta.respuesta}}"/>
                </div>
                <div style="display:flex; justify-content:space-between">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button class="btn btn-danger" onclick="location.href= '/admin/preguntas'" type="button">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{#if error}}
    <h5>{{message}}</h5>
{{/if}}