<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/stylesheets/admin.css">
</head>
<body>
    <header>
        <div className="holder">
            <img src="/images/Logo.png" width="75" alt="ChairStore"/>
            <h1>ChairStore</h1>
        </div>
    </header>

    {{{body}}}

    <footer>
        <p>Diseñado por Ezequiel Saporito - © 2023</p>
    </footer>
</body>
</html>