<div class="col-8 offset-3">
    <p class="text-end">Bienvenido {{usuario}}! <a class="btn btn-danger" href="/admin/login/logout">Cerrar sesión <i class="fas fa-sign-out-alt"></i></a></p>
</div>
<div style="display: flex; justify-content: space-evenly">
    <a class="btn btn-success" href="/admin/preguntas">Preguntas Frecuentes</a>
</div>