header div{
  display: flex;
  justify-content: center;
  align-items: center;
}

header div img{
  margin: 10px;
}

footer{
  text-align: center;
  background-color: rgb(158, 157, 157);
  margin: 10px;
  border-radius: 25px;
}

footer p{
  padding: 10px;
}