h1{
    color: white;
    font-size: 3rem;
    text-align: center;
    width: 1000px;
    background: linear-gradient(to right, grey, black);
    border-radius: 10px;
    font-family: 'Kanit', sans-serif;
}

h2{
    width: 1000px;
    padding-left: 10px;
    box-shadow: 0 0 5px #888;
    border-radius: 10px;
    font-family: 'Kanit', sans-serif;
}

h3{
    width: 1000px;
    color: white;
    background-color: black;
    border-radius: 5px;
    padding-left: 10px;
}

p{
    font-size: 0.85rem;
    width: 1000px;
}

img{
    width: 1000px;
    border-radius: 20px;
}

.secciones{
    width: 1010px;
    box-sizing: border-box;
    box-shadow: 0 0 5px #888;
    border-radius: 10px;
}