h1{
    color: darkblue;
    font-family: 'Courier New';
    font-size: 3rem;
}

h3{
    width: 1000px;
    color: white;
    background-color: black;
}

p{
    font-family: 'Cambria';
    font-size: 0.85rem;
}

img{
    width: 1000px;
}