.contacto {
    display: block;
}

.contenedor{
    display: flex;
    justify-content: space-evenly;
    margin: 40px;
}

label, input, textarea{
    display: block;
    width: 500px;
    margin: 3px;
    padding: 10px;
    border-radius: 25px;
}

.finalizar-form{
    display: flex;
    justify-content: center;
}

.finalizar-form input{
    width: 250px;
    margin: 5px;
}

#datos{
    text-align: start;
    
}

#datos h3{
    text-decoration: underline;    
}