.HomePage{
    display: inline-flex;
    flex-direction: column;
    max-width: 80vw;
}

.productos-destacados{
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 25px;
    box-shadow: -1px -1px 3px 1px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: start;
    position: relative;
    overflow: auto;
}

.banners img{
    margin-top: 25px;
    box-sizing: content-box;
    max-height: 500px;
    max-width: 80vw;
    border-radius: 25px;
    box-shadow: -1px -1px 3px 1px rgba(0, 0, 0, 0.3);
}