.productos-hogar{
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 25px;
    box-shadow: -1px -1px 3px 1px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-evenly;
    position: relative;
    flex-wrap: wrap;
}

.producto{
    border-radius: 15px;
    box-shadow: -1px -1px 3px 1px rgba(0, 0, 0, 0.3);
    width: 160px;
    margin: 15px;
}

.producto img{
    box-sizing: content-box;
    max-width: 300px;
    min-width: 140px;
    width: 80%;
    padding: 5px;
}

.producto h1{
    text-align: center;
}