.productos{
    text-align: center;
    border-radius: 25px;
    box-shadow: -1px -1px 3px 1px rgba(0, 0, 0, 0.3);
}

h4{
    margin: 25px;
}

h3{
    margin: 25px;
}

.foto-descripcion{
    position: relative;
}

.foto-descripcion img{
    max-width: 300px;
    border-radius: 25px;
    margin: 15px;
}

.foto-descripcion img:hover{
    visibility: collapse;
}

.descripcion{
    font-family:Impact;
    font-size: 17px;
    overflow: hidden;
    max-height: 300px;
    position: absolute;
    top: 0%;
    text-align: left;
    visibility: hidden;
}

.foto-descripcion img:hover + .descripcion{
    visibility: visible;
    box-shadow: -1px -1px 3px 1px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 10px;
    margin: 15px
}

