nav{
    background-color: rgb(158, 157, 157);
    margin: 10px;
    border-radius: 25px;
}

ul{
    list-style: none;
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
}

ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.activo{
    padding: 3px;
    background-color: #bee7fa;
    border-radius: 10px;
    
}