.EJ1{
    border-style:solid;
    border-color: black;
    border-width: 4px;
    width: 600px;
    height: 600px;
    color: white;
    font-size: large;
    text-align: center;
    line-height: 200px;
}

.EJ2{
    border-style:solid;
    border-color: black;
    border-width: 4px;
    width: 600px;
    height: 600px;
    color: white;
    font-size: large;
    text-align: center;
    line-height: 200px;
    display: flex;
}

.EJ3{
    border-style:solid;
    border-color: black;
    border-width: 4px;
    width: 1200px;
    height: 200px;
    color: white;
    font-size: large;
    text-align: center;
    line-height: 200px;
    display: flex;
    justify-content: space-between;
}

.cuadradoEJ1:first-child{
    position: relative;
    left: 400px;
    width: 200px;
    height: 200px;
    background-color: red;
}

.cuadradoEJ1:nth-child(2){
    position: relative;
    left:400px;
    width: 200px;
    height: 200px;
    background-color: blue;
}

.cuadradoEJ1:last-child{
    position: relative;
    left: 400px;
    width: 200px;
    height: 200px;
    background-color: green;
}

.cuadradoEJ2:first-child{
    position: relative;
    top: 200px;
    left: 400px;
    width: 200px;
    height: 200px;
    background-color: red;
}

.cuadradoEJ2:nth-child(2){
    position: relative;
    top: 200px;
    width: 200px;
    height: 200px;
    background-color: blue;
}

.cuadradoEJ2:last-child{
    position: relative;
    top: 200px;
    right: 400px;
    width: 200px;
    height: 200px;
    background-color: green;
}

.cuadradoEJ3:first-child{
    width: 200px;
    height: 200px;
    background-color: red;
}

.cuadradoEJ3:nth-child(2){
    width: 200px;
    height: 200px;
    background-color: blue;
}

.cuadradoEJ3:last-child{
    width: 200px;
    height: 200px;
    background-color: green;
}